.WideCard{
    position: relative;
}

.WideCard > img{
    border-radius: 15px;
    height: 12rem;
    width: 12rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.WideCard > p {
    position: absolute;
    bottom: -2px;
    left: 8px;
    text-shadow: 4px 4px 16px #dfd9d9;
}
