.container-carousel {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel-wrapper {
    width: 90%;
}

.textName{
    position: absolute;
    bottom: -10px;
    text-shadow: 4px 4px 16px #dfd9d9;
}
