.linkButtons{
    width: 300px;
    display:inline-block;
    height: auto;
    background-color: var(--darkPurple);  
}
.btn{   
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 15px;
    border:none;
    margin: 10px;    
}

.btn:hover{
    text-shadow: 0 0 10px var(--purple), 0 0 35px var(--blue), 0 0 60px var(--blue), 0 0 210px var(--purple);  
}

.btn a{
    text-decoration: none;    
}

@media (min-width: 768px){
    .btn{
        font-size: 20px;        
    }
}

@media (min-width: 1024px){
    .btn{
        font-size: 30px;        
    }
}