.btnLogo{
    display: flex;
    justify-content: center;
    width: 30%;    
}


.logoRyM{


    height: 70%;
    background-color:var(--transparent);
    transition: 2s ease-in-out 100ms;
}

.btnLogoGreen{
    position: relative;
    width: 120px;
    height: 65px;
    text-align: center;
    margin-top: -10px;
    color: var(--blue);
 
}
.btnLogoGreen p{
    font-size: 1rem;   
}


.logoRyMGreen{
    left:0;
    height: 70%;
    background-color:var(--transparent);
    transition: 2s ease-in-out 100ms;
}

.logoRyM:hover, .logoRyMGreen:hover {
    rotate: x 360deg;
    box-shadow: 0 0 150px var(--purple), 0 0 250px var(--blue), 0 0 150px var(--blue), 0 0 210px var(--purple);
    border-radius: 15%;
}

@media (min-width: 425px) {
    .logoRyM, .logoRyMGreen{
        left: 43%;
    }
}

@media (min-width: 425px) {
    .logoRyM, .logoRyMGreen{
        left: 43%;
    }
}

@media (min-width:640px) {
    .logoRyM{
        

    }
    .logoRyMGreen{
        left: 3%;
        top:-30px;
    }
}

@media (min-width: 768px){
    .logoRyMGreen{
        left: 3%;    
    }

   
}

@media (min-width: 1024px){
    .logoRyM {
        width: 250px;
        top:-40px;
    }

    .btnLogoGreen{
        position: relative;
        width: 220px;
        height: 65px;
        text-align: center;
        margin-top: -10px;
        font-size: 1.5rem; 
    
    }

}