*{
    box-sizing: border-box;
}
.cardModal{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlack);
    border-radius: 1rem;
    width: 75%;
    font-size: 0.7rem;
    

}

.cardBody{
    text-align: center;
   color: white;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}
.cardBody h1{
   
    margin: 0;
}

.cardBodyText h3{
  margin:0;
  
}



.cardImg{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.cardImg img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

@media only screen and (min-width: 600px) {
    .cardModal {
        grid-template-columns: 1fr 1fr;
        font-size: 1rem;
        width: 90%;
        gap: 1rem;
    }
    .cardBody{
        text-align: start;
       
    }
   

    
}