/* Start TextChar */
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.circleRed, .circleGreen, .circleGray {
  width: 1.5rem;
  height: 1.5rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circleRed{
  background: #bb1010;
}
.circleGray{
  background: #9b9b9b;
}
.circleGreen{
  background:#5cb85c;
}
.status span {
  font-size: 1.5rem;
  font-weight: 700;
}
.apiInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bg-black {
  background-color: var(--black);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  display: flex;
}
.bg-black:hover {
  background-color: var(--darkPurple);
}
/* End TextChar */

/* Start Title */
.titleH1 {
  font-size: 2rem;
}
/* End Title */

/* Start Img Char.. */
.imgChar .imgO {
  width: 300px;
}
.imgChar .roundedImg {
  width: 300px;
  border-radius: 50%;
}
/* End Ing char... */

/* Start Container ALL */
.CharTextImg {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    gap: 1rem;
    width: 100%;
}
.contChar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

/* End Container ALL */

@media (min-width:768px) {
    .titleH1 {
        font-size: 3rem;
      }
      .imgChar img {
        width: 400px;
      }
      .status span {
        font-size: 2rem;
      }
      .bg-black {
        font-size: 1.5rem;
      }
}
@media (min-width:1024px) {
    .contChar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }
    
}