:root{
  --black: #060606;
  --white:#FFFFFF;
  --lightBlack: #252030;
  --gray: #D8D9D8;
  --purple: #A934A6;
  --darkPurple: #481746;
  --green: #25C44E;
  --blue: #38D3E5;
  --darkBlue:#33254C;
  --transparent:rgba(0,0,0,0);
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
  width: 13px;
    background-color: rgb(231, 231, 231);
}

body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color:  #8d8197;;
    border: 3px solid rgb(243, 239, 239);
 }


