
.contSocial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
}
.contSocial,
.socialButton img,
.socialButton .socialIcon {
  margin: auto;
}
.socialButton img,
.socialButton .socialIcon {
  padding: 1rem 0;
}
.socialButton .socialIcon:hover, .socialButton img:hover  {
  opacity: 0.8;
}

.socialButton img {
  width: 2rem;
}
.socialButton .socialIcon {
  filter: invert(100%);
}

@media (min-width: 1024px) {
  .contSocial {
    grid-template-columns: repeat(4, 1fr);
  }
}
